<ion-header [translucent]="true">
  <ion-toolbar color="primary">
  	 <ion-buttons slot="start">
      <ion-menu-button><ion-icon name="menu-outline"></ion-icon></ion-menu-button>
    </ion-buttons>
  	<ion-title>
  Conversor
</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">  
    <ion-title style="text-align: center">
     <b>Moeda</b> 
    </ion-title>
 
  <ion-button expand="block" color="tertiary" href="../conversor/moeda">Dólar e Real | Euro e Real</ion-button>
</ion-card>

<ion-card color="light">  
  <ion-title style="text-align: center">
   <b>Medidas</b> 
  </ion-title>
  <ion-button expand="block" color="tertiary" href="../conversor/comprimento">Comprimento</ion-button>
  <ion-button expand="block" color="tertiary" href="../conversor/massa">Massa</ion-button>
  <ion-button expand="block" color="tertiary" href="../conversor/capacidade">Capacidade</ion-button>
  </ion-card>

  <ion-card color="light">  
    <ion-title style="text-align: center">
     <b>Temperatura</b> 
    </ion-title>
  <ion-button expand="block" color="tertiary" href="../conversor/temperatura">ºC e ºF</ion-button>
  </ion-card>
</ion-content>
